@font-face {
  font-family: 'Bricolage';
  src: url('../public//fonts/Bricolage.ttf') ;
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Bricolage', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}